body {
  background-color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
}

a,
p {
  color: $light;
}

code,
span,
small {
  color: $neutral;
}

hr {
  border-color: $gray;
}

code {
  background-color: $dark;
}

input {
  border-color: $gray;
  background-color: $gray;
  color: $white;

  &:focus {
    border-color: $neutral;
  }
}
