.left {
  float: left;
}

.right {
  float: right;
}

.protect {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

.space {
  > * {
    margin-right: 1.2rem;
  }

  a {
    margin-right: 1.6rem;
  }

  span {
    margin-right: 0.8rem;
  }
}

.jump {
  display: inline-block;
  animation: bounce 1s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
