.theme {
  position: fixed;
  right: 4vw;
  bottom: 4vw;
  margin: 0;
  border-radius: $radius-circle;
  padding: 0;
  width: $font-size-large + $line-height-large * 2;
  height: $font-size-large + $line-height-large * 2;
  font-size: $font-size-large;
}

[data-theme='dark'] {
  @import 'themes/dark';
}

[data-theme='light'] {
  @import 'themes/light';
}
