.fr {
  float: right;
}

.center {
  width: 330px;
  text-align: center;
}

.notice,
.notice * {
  color: var(--common-red);
}

.second,
.second * {
  color: var(--common-deep);
}

.help{
  display: none;
}

.jump {
  animation: bounce 0.3s cubic-bezier(0.05, 0, 0.2, 1) infinite alternate;
  display: inline-block;
  transform: translate3d(0, 0, 0);
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0em, 0);
  }
  100% {
    transform: translate3d(0, -0.3em, 0);
  }
}
