body {
  padding: $global-padding;
  min-width: $global-min-width;
  max-width: $global-max-width;

  font-family: $global-font-family;
}

*,
*::before,
*::after {
  transition: all 150ms ease-in-out;

  font-weight: $global-font-weight;
}

::-webkit-scrollbar {
  width: $global-scrollbar;
  height: $global-scrollbar;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: $global-scrollbar-radius;
}

code::-webkit-scrollbar {
  width: $global-scrollbar - 0.1rem;
  height: $global-scrollbar - 0.1rem;
}

.protect {
  cursor: default;
  user-select: none;
}
