body {
  padding: 10vh 10vw;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
}

*,
*::before,
*::after {
  transition: all 150ms ease-in-out;

  font-weight: 300;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
}

code::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.protect {
  cursor: default;
  user-select: none;
}
