.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.space {
  > * {
    margin-right: $edge-space;
    margin-left: $edge-space;
  }
  > a {
    margin-right: $edge-space * 2;
    margin-left: $edge-space * 2;
  }
}
