// 全局
$global-padding: 10vh 10vw;
$global-min-width: 28rem;
$global-max-width: 36rem;

$global-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
$global-font-weight: normal;

$global-scroll: 0.6rem;
$global-scroll-radius: 0.4rem;

// 颜色
$color-white: #f8f9fa;
$color-light: #e9ecef;
$color-middle: #ced4da;
$color-gray: #868e96;
$color-dark: #495057;
$color-black: #212529;

$color-red: #f03e3e;
$color-orange: #f76707;
$color-yellow: #f59f00;
$color-lime: #74b816;
$color-green: #37b24d;
$color-teal: #0ca678;
$color-cyan: #1098ad;
$color-blue: #1c7cd6;
$color-indigo: #4263eb;
$color-violet: #7048e8;
$color-purple: #ae3ec9;
$color-pink: #d6336c;

// 字体
$font-size-h1: 3.2rem;
$font-size-h2: 2.4rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.6rem;
$font-size-h5: 1.4rem;
$font-size-h6: 1.2rem;
$font-size-large: 1.2rem;
$font-size-normal: 1rem;
$font-size-small: 0.8rem;

$font-family-mono: Menlo, Consolas, Monaco, monospace;

// 行高
$line-height-large: 0.8rem;
$line-height-normal: 0.6rem;
$line-height-small: 0.4rem;

// 边距
$edge-header: 1.2rem;
$edge-block: 0.8rem;
$edge-inline: 0.6rem;
$edge-space: 0.4rem;
$edge-base: 0.2rem;

// 圆角
$radius-large: 0.6rem;
$radius-normal: 0.4rem;
$radius-small: 0.2rem;

$radius-circle: 50%;

// 边框
$border-normal: 0.2rem;
$border-small: 0.1rem;

// 元素
$aside-width: 30%
