h1 {
  display: block;
  margin: 1.4rem 0;

  max-width: 36rem;
  min-height: 5rem;

  font-size: 4rem;
  line-height: 5rem;
}

h2 {
  display: block;
  margin: 1.4rem 0;

  max-width: 36rem;
  min-height: 4.2rem;

  font-size: 3.2rem;
  line-height: 4.2rem;
}

h3 {
  display: block;
  margin: 1.2rem 0;

  max-width: 36rem;
  min-height: 3.6rem;

  font-size: 2.6rem;
  line-height: 3.6rem;
}

h4 {
  display: block;
  margin: 1.2rem 0;

  max-width: 36rem;
  min-height: 3.2rem;

  font-size: 2.2rem;
  line-height: 3.2rem;
}

h5 {
  display: block;
  margin: 1rem 0;

  max-width: 36rem;
  min-height: 2.8rem;

  font-size: 1.8rem;
  line-height: 2.8rem;
}

h6 {
  display: block;
  margin: 1rem 0;

  max-width: 36rem;
  min-height: 2.4rem;

  font-size: 1.4rem;
  line-height: 2.4rem;
}

p {
  display: block;
  margin: 0.8rem 0;

  max-width: 36rem;
  min-height: 2.2rem;

  font-size: 1.2rem;
  line-height: 2.2rem;
}

form {
  display: block;
  margin: 0.8rem 0;

  max-width: 36rem;
  line-height: 2.8rem;
}

small {
  display: block;
  margin: 0.6rem 0;

  max-width: 36rem;
  min-height: 1.8rem;

  font-size: 1rem;
  line-height: 1.8rem;
}

code {
  display: block;
  box-sizing: border-box;
  margin: 0.8rem 0;

  border-radius: 0.4rem;
  padding: 0.6rem 0.8rem;
  max-width: 36rem;

  overflow: auto;

  white-space: pre;

  pre {
    display: block;

    margin: 0;

    min-height: 1rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}

span {
  display: inline-block;
}

label {
  display: inline-block;

  margin: 0.4rem;

  min-width: 2.4rem;
  font-size: 1.2rem;
}

input {
  display: inline-block;

  margin: 0.4rem;

  border: 0.2rem solid;
  border-radius: 0.4rem;

  padding: 0.5rem;

  font-size: 1rem;
  font-family: monospace, sans-serif;

  &:focus {
    outline: none;
  }
}

a {
  display: inline-block;
  position: relative;

  cursor: pointer;

  margin: 0.2rem 0.6rem;
  padding: 0.2rem;

  min-width: 0.6rem;
  max-width: 36rem;

  text-decoration: none;

  &::after {
    position: absolute;

    top: 60%;
    right: -0.4rem;
    bottom: 0;
    left: -0.4rem;
    opacity: 0.4;

    z-index: -1;

    border-radius: 0.6rem;
    background-color: $gray;
    content: '';
  }

  &:hover::after {
    top: 0%;
  }

  &:active::after {
    opacity: 0.2;
    transition: none;
  }
}

button {
  display: inline-block;

  opacity: 0.6;
  cursor: pointer;

  margin: 0.4rem 0.2rem;

  outline: none;
  border: none;
  border-radius: 0.6rem;

  background-color: $gray;

  padding: 0.4rem 0.8rem;

  font-size: 1.2rem;
  line-height: 1.8rem;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.4;
    transition: none;
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

hr {
  display: block;
  margin: 1.6rem 0;

  border: none;
  border-top: 0.1rem solid;

  max-width: 36rem;
}
