.theme {
  display: flex;
  position: fixed;

  right: 4vw;
  bottom: 2vh;

  justify-content: center;
  align-items: center;

  border-radius: 50%;

  width: 3.2rem;
  height: 3.2rem;
  font-size: 1.4rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

.protect {
  cursor: default;
  user-select: none;
}

.space {
  > * {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }

  > a {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
  }
}

.jump {
  display: inline-block;
  animation: bounce 1s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.wave {
}
