.theme {
  position: fixed;

  right: 5vw;
  bottom: 5vh;
  margin: 0;

  border-radius: 50%;
  padding: 0;

  width: 3.4rem;
  height: 3.4rem;
  font-size: 1.6rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

.protect {
  cursor: default;
  user-select: none;
}

.space {
  > * {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }

  > a {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
  }
}

.jump {
  display: inline-block;
  animation: jump 1s infinite;

  @keyframes jump {
    0%,
    100% {
      transform: translateY(-20%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(10%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.wave {
  display: inline-block;
  animation: wave 1s infinite;

  @keyframes wave {
    0%,
    100% {
      transform: rotate(-10deg);
      animation-timing-function: ease-in-out;
    }
    50% {
      transform: rotate(20deg);
      animation-timing-function: ease-in-out;
    }
  }
}
