$white: #f1f3f5;
$light: #dee2e6;
$middle: #b1bac0;
$gray: #868e96;
$dark: #495057;
$black: #212529;

$red: #f03e3e;
$orange: #f76707;
$yellow: #f59f00;
$lime: #74b816;
$green: #37b24d;
$teal: #0ca678;
$cyan: #1098ad;
$blue: #1c7cd6;
$indigo: #4263eb;
$violet: #7048e8;
$purple: #ae3ec9;
$pink: #d6336c;

// 颜色列表
$colors: (
  white: $white,
  light: $light,
  middle: $middle,
  gray: $gray,
  dark: $dark,
  black: $black,

  red: $red,
  orange: $orange,
  yellow: $yellow,
  lime: $lime,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  blue: $blue,
  indigo: $indigo,
  violet: $violet,
  purple: $purple,
  pink: $pink,
);

// 文字颜色
@each $name, $color in $colors {
  .t-#{'' + $name} {
    color: $color !important;
  }
}

// 链接颜色
@each $name, $color in $colors {
  .a-#{'' + $name}::after {
    background-color: $color;
  }
}

// 按钮颜色
@each $name, $color in $colors {
  .b-#{'' + $name} {
    background-color: $color;
  }
}

// 彩虹颜色
.a-rainbow {
  &::after {
    background-image: linear-gradient(-45deg, $purple, $blue, $green, $yellow, $red);
  }
  &.reverse::after {
    background-image: linear-gradient(45deg, $red, $yellow, $green, $blue, $purple);
  }
}
