::selection {
  background: $middle;
  color: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $gray;
}

body {
  background-color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  color: $white;
}

a,
p {
  color: $light;
}

code,
label,
input,
small {
  color: $middle;
}

hr {
  border-color: $gray;
}

code {
  background-color: $dark;
}

input {
  border-color: $dark;
  background-color: $dark;

  &:focus {
    border-color: $gray;
  }
}

.light {
  display: none;
}

.theme {
  background: $white;
}


.b-light,
.b-white,
.b-middle {
  color: $black;
}
