::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
}

code::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*,
*::before,
*::after {
  transition: all 200ms ease-in-out;

  font-weight: 200;
}
