::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
}

* {
  font-weight: 100;
}

body {
  padding: 10vh 10vw;

  font-family: system-ui, sans-serif;
}
