::selection {
  background: $gray;
  color: $light;
}

::-webkit-scrollbar-thumb {
  background-color: $middle;
}

body {
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

a,
p {
  color: $dark;
}

code,
label,
input,
small {
  color: $gray;
}

code {
  background-color: $light;
}

button {
  color: $white;
}

input {
  border-color: $light;
  background-color: $light;

  &:focus {
    border-color: $middle;
  }
}

hr {
  border-top-color: $light;
}

.dark {
  display: none;
}

.theme {
  background: $middle;
}

.b-middle {
  color: $white;
}

.b-light,
.b-white {
  color: $gray;
}
