*,
*::before,
*::after {
  transition: all 150ms ease-in-out;
}

.jump {
  display: inline-block;
  animation: jump 1s infinite;

  @keyframes jump {
    0%,
    100% {
      transform: translateY(-20%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(10%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.wave {
  display: inline-block;
  animation: wave 1s infinite;

  @keyframes wave {
    0%,
    100% {
      transform: rotate(-10deg);
      animation-timing-function: ease-in-out;
    }
    50% {
      transform: rotate(20deg);
      animation-timing-function: ease-in-out;
    }
  }
}
