aside {
  width: $aside-width;
  margin: $edge-space;
  padding-left: $edge-block;
  float: right;
  border-left: $border-normal solid;
  font-size: $font-size-small;
  line-height: $font-size-small + $line-height-small;
}
