button {
  display: inline-block;
  margin: $edge-base;
  padding: $edge-space $edge-block;
  border: none;
  border-radius: $radius-normal;
  outline: none;
  opacity: 0.6;
  background-color: $color-gray;
  font-size: $font-size-normal;
  line-height: $font-size-normal + $line-height-normal;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:active {
    transition: none;
    opacity: 0.4;
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}
