form {
  margin: $edge-block 0;
  line-height: $font-size-normal + $line-height-normal * 4;

  button {
    margin: 0 $edge-space;
  }
}

label,
input {
  display: inline-block;
  margin: 0 $edge-space;
}

label {
  font-size: $font-size-normal;
}

input {
  border: $border-normal solid;
  border-radius: $radius-normal;
  padding: $edge-space;
  font-size: $font-size-normal;
  font-family: $font-family-mono;

  &:focus {
    outline: none;
  }
}
