a {
  display: inline-block;
  position: relative;
  margin: $edge-base $edge-inline;
  padding: $edge-space;
  text-decoration: none;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: $radius-normal;
    opacity: 0.4;
    background-color: $color-middle;
    inset: 60% (-$edge-space) 0 (-$edge-space);
  }

  &:hover::after {
    top: 0%;
  }

  &:active::after {
    transition: none;
    opacity: 0.2;
  }
}
