.protect {
  cursor: default;
  user-select: none;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.space {
  > * {
    margin: $edge-base $edge-space;
  }
  > a {
    margin: $edge-space $edge-block;
  }
}
