.theme {
  position: fixed;

  right: 4vw;
  bottom: 4vw;
  margin: 0;

  border-radius: $radius-circle;
  padding: 0;

  width: $font-size-h6 + $line-height-large * 2;
  height: $font-size-h6 + $line-height-large * 2;
  font-size: $font-size-h6;
}

[data-theme='dark'] {
  @import 'themes/dark';
}

[data-theme='light'] {
  @import 'themes/light';
}
