aside {
  float: right;

  margin: $edge-space;
  border-left: $border-normal solid;
  padding-left: $edge-block;

  width: $aside-width;
  font-size: $font-size-small;
  line-height: $font-size-small + $line-height-small;
}
