p {
  margin: $edge-inline 0;
  font-size: $font-size-normal;
  line-height: $font-size-normal + $line-height-normal;
}

p.large {
  font-size: $font-size-large;
  line-height: $font-size-large + $line-height-large;
}

p.small {
  font-size: $font-size-small;
  line-height: $font-size-small + $line-height-normal;
}

small {
  display: inline-block;
  font-size: $font-size-small;
}

span,
abbr {
  display: inline-block;
}

abbr {
  display: inline-block;
  margin: 0;
  font-style: italic;

  &[title] {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: $border-small;
  }
}
