button {
  display: inline-block;

  opacity: 0.6;
  cursor: pointer;
  margin: $edge-space $edge-base;

  outline: none;
  border: none;
  border-radius: $radius-normal;

  background-color: $color-gray;
  padding: $edge-space $edge-inline;
  font-size: $font-size-normal;
  line-height: $font-size-normal + $line-height-normal;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.4;
    transition: none;
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}
