code {
  display: block;
  position: relative;
  box-sizing: border-box;

  margin: $edge-header 0;
  border-radius: $radius-normal;
  padding: $edge-inline $edge-block;

  overflow: auto;

  white-space: pre;

  pre {
    display: block;

    margin: 0;
    min-height: $font-size-small + $line-height-small;

    font-size: $font-size-small;
    line-height: $font-size-small + $line-height-normal;

    font-family: $font-family-mono;
  }
}

// code::after {
//   display: block;

//   position: absolute;
//   top: $edge-space;
//   right: $edge-inline;

//   cursor: pointer;
//   margin: 0;
//   padding: 0;
//   content: 'Copy';
//   color: $color-gray;

//   font-size: $font-size-small;
//   line-height: $font-size-small + $line-height-small;

//   &:hover {
//     color: $color-light;
//   }
// }
