form {
  margin: $edge-block 0;
  line-height: $font-size-large + $line-height-inline * 4;

  button {
    margin: 0 $edge-space;
  }
}

label,
input {
  display: inline-block;
  margin: 0 $edge-space;
}

label {
  font-size: $font-size-large;
}

input {
  border: $edge-base solid;
  border-radius: $radius-normal;

  padding: $edge-space + 0.1rem;

  font-size: $font-size-normal + 0.1rem;
  font-family: monospace, sans-serif;

  &:focus {
    outline: none;
  }
}
