form {
  margin: $edge-block 0;

  line-height: $font-size-normal + $line-height-block + $line-height-inline;
}

label {
  display: inline-block;

  margin: $edge-space;

  font-size: $font-size-normal;
}

input {
  display: inline-block;

  margin: $edge-space;

  border: $edge-base solid;
  border-radius: $radius-small;

  padding: $edge-space;

  font-size: $font-size-small;
  font-family: monospace, sans-serif;

  &:focus {
    outline: none;
  }
}
