h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $edge-header 0;
}

h1 {
  font-size: $font-size-h1;
  line-height: $font-size-h1 + $line-height-large;
}

h2 {
  font-size: $font-size-h2;
  line-height: $font-size-h2 + $line-height-large;
}

h3 {
  font-size: $font-size-h3;
  line-height: $font-size-h3 + $line-height-large;
}

h4 {
  font-size: $font-size-h4;
  line-height: $font-size-h4 + $line-height-large;
}

h5 {
  font-size: $font-size-h5;
  line-height: $font-size-h5 + $line-height-large;
}

h6 {
  font-size: $font-size-h6;
  line-height: $font-size-h6 + $line-height-large;
}

hr {
  margin: $edge-header 0;

  border: none;
  border-top: $border-normal solid;
  border-radius: $radius-small;
}
