h1 {
  display: block;
  margin: 1.4rem 0;

  max-width: 36rem;
  min-height: 5rem;

  font-size: 4rem;
  line-height: 5rem;
}

h2 {
  display: block;
  margin: 1.4rem 0;

  max-width: 36rem;
  min-height: 4.2rem;

  font-size: 3.2rem;
  line-height: 4.2rem;
}

h3 {
  display: block;
  margin: 1.2rem 0;

  max-width: 36rem;
  min-height: 3.6rem;

  font-size: 2.6rem;
  line-height: 3.6rem;
}

h4 {
  display: block;
  margin: 1.2rem 0;

  max-width: 36rem;
  min-height: 3.2rem;

  font-size: 2.2rem;
  line-height: 3.2rem;
}

h5 {
  display: block;
  margin: 1rem 0;

  max-width: 36rem;
  min-height: 2.8rem;

  font-size: 1.8rem;
  line-height: 2.8rem;
}

h6 {
  display: block;
  margin: 1rem 0;

  max-width: 36rem;
  min-height: 2.4rem;

  font-size: 1.4rem;
  line-height: 2.4rem;
}
