p {
  margin: $edge-block 0;

  font-size: $font-size-normal;
  line-height: $font-size-normal + $line-height-block;
}

small {
  display: block;
  margin: $edge-block 0;

  font-size: $font-size-small;
  line-height: $font-size-small + $line-height-block;
}

span {
  display: inline-block;
}

hr {
  display: block;
  margin: $edge-header 0;

  border: none;
  border-top: $border-base solid;
  border-radius: $radius-border;
}
