p {
  margin: $edge-block 0;

  font-size: $font-size-large;
  line-height: $font-size-large + $line-height-block;
}

small {
  display: block;
  margin: $edge-block 0;

  font-size: $font-size-normal;
  line-height: $font-size-normal + $line-height-inline;
}

span {
  display: inline-block;
}

hr {
  display: block;
  margin: $edge-header 0;

  border: none;
  border-top: $border-normal solid;
  border-radius: $radius-small;
}
