table {
  border-collapse: collapse;
  background-color: transparent;

  width: 100%;

  th,
  td {
    padding: $edge-space;

    line-height: $font-size-normal + $line-height-inline;
    text-align: center;
  }

  th {
    border-bottom: $border-base solid;
    border-radius: $radius-border;

    font-size: $font-size-normal;
  }

  td {
    border-top: $border-small solid;
    border-radius: $radius-border;

    font-size: $font-size-small;
  }
}
