table {
  border-collapse: collapse;
  background-color: transparent;

  width: 100%;

  th,
  td {
    padding: $edge-block;

    text-align: center;
  }

  th {
    border-bottom: $border-normal solid;
    border-radius: $radius-small;

    font-size: $font-size-large;
  }

  td {
    border-top: $border-small solid;
    border-radius: $radius-small;

    font-size: $font-size-normal;
  }
}
