table {
  border-collapse: collapse;
  background-color: transparent;
  min-width: 80%;

  th,
  td {
    border-radius: $radius-small;
    padding: $edge-block;

    text-align: center;

    a {
      margin: 0;
    }
  }

  th {
    border-bottom: $border-normal solid;

    font-size: $font-size-large;
    line-height: $font-size-large + $line-height-inline;
  }

  td {
    border-top: $border-small solid;

    font-size: $font-size-normal;
    line-height: $font-size-normal + $line-height-inline;
  }
}
