::selection {
  -webkit-text-fill-color: $white;
  background: $middle;
  color: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $gray;
}

.theme {
  background: $white;
}

body {
  background-color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
}

a,
p {
  color: $light;
}

pre,
code,
label,
input,
small {
  color: $middle;
}

hr {
  border-color: $gray;
}

code {
  background-color: $dark;
}

input {
  border-color: $dark;
  background-color: $dark;

  &:focus {
    border-color: $gray;
  }
}

button {
  color: $white;

  &.middle,
  &.white,
  &.light {
    color: $black;
  }
}
