::selection {
  background: $color-gray;
  color: $color-white;
}

::-webkit-scrollbar-thumb {
  background-color: $color-middle;
}

.theme {
  background: $color-light;
}

body {
  background-color: $color-white;
}

h1,
h2,
h3 {
  color: $color-black;
}

h4,
h5,
h6,
a,
p,
tr {
  color: $color-dark;
}

pre,
code,
label,
input,
small,
p.small {
  color: $color-gray;
}

th,
td,
hr {
  border-color: $color-light;
}

code {
  background-color: $color-light;
}

input {
  border-color: $color-light;
  background-color: $color-light;

  &:focus {
    border-color: $color-middle;
  }
}

button {
  color: $color-white;

  &.white,
  &.light {
    color: $color-gray;
  }
}

abbr[title] {
  text-decoration-color: $color-middle;
}

aside {
  border-color: $color-middle;
  color: $color-gray;
}

audio::-webkit-media-controls-panel {
  background-color: $color-light;
}
