::selection {
  -webkit-text-fill-color: $color-white;
  background: $color-gray;
  color: $color-white;
}

::-webkit-scrollbar-thumb {
  background-color: $color-middle;
}

.theme {
  background: $color-light;
}

body {
  background-color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black;
}

a,
p,
tr {
  color: $color-dark;
}

pre,
code,
label,
input,
small {
  color: $color-gray;
}

th,
td,
hr {
  border-color: $color-light;
}

code {
  background-color: $color-light;
}

button {
  color: $color-white;

  &.white,
  &.light {
    color: $color-gray;
  }
}

input {
  border-color: $color-light;
  background-color: $color-light;

  &:focus {
    border-color: $color-middle;
  }
}
